@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/maps";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/grid";
body{
    margin:0;
    padding:0;
}

@font-face {
    font-family: 'invasible';
    src: url(./font/Invasible.otf);
}
@font-face {
    font-family: 'QuintUppercase-Regular';
    src: url(./font/QuintUppercase-Regular.otf);
}
@font-face {
    font-family: 'Inter';
    src: url(./font/Inter-VariableFont_slnt\,wght.ttf);
}
.h1font{
    font-family:'invasible';
    font-size: 2.3rem;
}
.h2font{
    font-family: 'QuintUppercase-Regular';
}
.h3font{
    font-family: 'Inter';
    font-size:1.6425rem;
}
.h4font{
    font-family: 'Inter';
    font-size:0.9rem;
}
.container-fluid{
    padding:0;
}
@media(min-width:576px){
    .home{
        background-image: url(img/Group\ 9.png);
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
    }
    
}
@media(max-width:575px){
    .home{
        background-image: linear-gradient(to right,#232d57,#8e8282);
        height: 100vh;
    }
    .navbar{
        padding: 0.5rem 2.45rem 0 1rem;
    }
    .sidebar a{
        color: white;
        font-size:1.4rem;
    }
    .logo{
        width:25%;
    }
    
}
@media (max-width:991px){
    .sidebar{
        background-color: #111520 ;
    }
    .nav-link:hover, .nav-link:focus{
        color:rgb(0, 255, 247);
        background: none;
        background-color: #283643;
    }
    .navbar-nav .nav-link.show{
        color: rgb(0, 255, 247);
        padding-inline:16px;
    }  
    .dropdown .dropdown-menu{
        background-color: #283643;
        margin:0;
        padding:0;
    }
    .dropdown-menu a{
        border-bottom:1px solid #000000;
    }
    .row-first{
        height:14%;
    }
    .info{
        background-color: #283643;
        opacity:0.92;
        border: solid 0.2rem white;
        border-radius: 0.75rem;
    }
    .title{
        line-height: 1rem;
    }
}
@media(min-width:576px) and (max-width:991px){
    .logo{
        width:20%;
    }
    .navbar{
        padding:.75rem 2rem 0 .75rem;
    }
    .col-row-first{
        padding:0;
        margin-top:.75rem;
        padding-right:.4rem;
    }
    .sidebar a{
        color: white;
        font-size:1.5rem;
    }  
    .row-first{
        height:20%;
    }
}
@media(min-width:992px){
    .logo{
        width:16%;
    }
    .home{
        height: 200vh;
    }
    .navbar{
        padding-top:.25rem;
        padding-inline: 0rem;
        position: relative;
    }
    .nav-item a{
        color: white;
        font-size:2rem;
    }
    .nav-link{
        position: relative;
    }
    .nav-link:hover, .nav-link:focus{
        color:white;
        background: none;
    }
    .navbar-nav .nav-link.show{
        color: white;
    }
    .nav-item:focus{
        width:100%;
    }
    .nav-item:hover::after{
        transform: scaleX(1);
        transform-origin:left;
        color:white;
    }
    .nav-item::after{
        content: "";
        display: block;
        position: absolute;
        height:1.5px;
        background-color: white;
        width:95%;
        bottom:20%;
        left:2.5%;
        transform: scaleX(0);
        transform-origin: right;
        border:none;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        transition:transform 0.25s ease-in 0s;
    }
    .dropdown .dropdown-menu{
        background-color: #283643a3;
        margin:0;
        padding:0;
        font-size:1.6rem;
    }
    
}
@media(min-width:992px){
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        width: 60%;
        margin-left: 35%;
        column-gap: rem;
}
}
@media (min-width:1240px){
    .navbar{
        padding-left: .5rem;
        padding-right:1rem;
    }
}